<footer class="site-footer h-card">
  <p>HELLO</p>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4586549710524930"
    crossorigin="anonymous"></script>
  <!-- Footer GITHUB Page -->
  <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-4586549710524930"
    data-ad-slot="8963834535"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</footer>